Untitled.ipynb
LEC 2 . 9-10.ipynb
.ipynb_checkpoints/LEC 2 . 9-10-checkpoint.ipynb
iris.csv
Lec 3.  9-17.ipynb
Python_Intro_1  .ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
Python_Intro_1  .ipynb
Untitled1.ipynb
Python_Intro_1  .ipynb
.ipynb_checkpoints/Lec 3.  9-17-checkpoint.ipynb
Python_Intro_1  .ipynb